body {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    height: 100vh;

}

.div {
    width: 20vh;
    height: 20vh;
    background-color: red;

}

@keyframes myanima {
    0% {
        transform: translateY(0);
        background-color: #abe;
      }
    50% {
        transform: translateX(200px) translateY(-100px);
        background-color: #24A;
        color: #fff;
      }
    100% {
        transform: translateX(-100px) translateY(-100px);
        background-color: #57D;
      }
}